.big-banner {
  width: 100%;
  height: 240px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  .big-banner-center {
    width: 90%;
    height: 240px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    a {
      width: 322px;
      height: 241px;
      display: block;

      img {
        display: block;
        width: 322px;
        height: 241px;
        border-radius: 18px;
      }
    }
  }
}
